body {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
}

article {
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    padding: 1em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}
article img {
    max-width: 100%;
}
nav {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .8em;
}
nav li {
    list-style:none;
    display: inline-block;
    padding: .1em;
}
nav li a {
    text-decoration: none;
}
.title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.date {
    padding: 0 0 1em 0;
    margin: 0;
    border-bottom: 1px solid;
    text-align: center;
    font-size: .8em;
}
a {
    color: #333;
}
a:visited {
    color: #777;
}
blockquote {
    margin: 0;
    padding: 0;
    border-left: 2px solid;
    padding-left: 1rem;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #181818;
        color: #ddd;
    }
    a {
        color: #ddd;
    }
    a:visited {
        color: #aaa;
    }

}
@media print{
    body{
	max-width:none
    }
}
