<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Satyajit Ranjeev</title>
    <link rel="shortcut icon" href="/s/images/favicon.png" />
    <link rel="stylesheet" href="/s/base.css"/>
</head>
<body>
  <article>
    <h1>Hi! I am Satyajit Ranjeev.</h1>
    <p>Engineering leader <a href="https://solarisbank.de">@Solarisbank</a>. I love to solve problems. Follow me on <a href="https://twitter.com/sat_ran">Twitter</a>.</p>
    
    <h2>Articles</h2>
    {{ range $id, $a := .Pages }}
    <div class="page"><a href="{{$a.URL}}">{{$a.Title}}</a> - {{ $a.Date.Format "2, Jan 2006" }} </div>
    {{ end }}

  </article>
</div>
</body>


