<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Satyajit Ranjeev</title>
    <link rel="shortcut icon" href="/s/images/favicon.png" />
    <link rel="stylesheet" href="/s/base.css"/>
    <link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet">
</head>
<body>
  <article>
    <h1>Hi! I am Satyajit Ranjeev.</h1>
    <p>I am a computer programmer who loves to solve problems. I currently work at <a href="https://solarisbank.de">solarisBank</a> as an engineer.</p>
    
    <section>
      <h2>Articles</h2>
    {{ range $id, $a := .Pages }}
    <p class="page">
      <a href="{{$a.URL}}">{{$a.Title}}</a>
      <label for="article-{{$id}}" class="margin-toggle">&#8853;</label>
      <input type="checkbox" id="article={{$id}}" class="margin-toggle"/>
      <span class="marginnote">{{ $a.Date.Format "2, Jan 2006" }}</span>
    </p>
    {{ end }}
    </section>

  </article>
</div>
</body>


