<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/s/images/favicon.png" />
    <link rel="stylesheet" href="/s/base.css"/>
  </head>
  <body>
    <nav>
      <li><a href="/">Articles</a> | </li>
      <li><a href="https://twitter.com/sat_ran">Follow on Twitter</a> | </li>
      <li><a href="/feed.xml">RSS Feed</a></li>
    </nav>
    <article>
      <h1 class="title">{{ .Title }}</h1>
      <section>
	<p class="date"> ~ {{ .Date.Format "Jan 2 2006" }} by <a href="/">Satyajit</a> ~ </p>
	{{ .Body }}
      </section>
    </article>
  </body>
</html>
