<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/s/images/favicon.png" />
    <link rel="stylesheet" href="/s/base.css"/>
  </head>
  <body>
	  <div class="main">
    <nav>
      <li><a href="/">satran</a> / </li>
      <li><a href="/">Blog</a></li>
    </nav>
	  </div>
    <article>
      <h1 class="title">{{ .Title }}</h1>
      <section>
	<p class="date">{{ .Date.Format "Jan 2 2006" }} by <a href="/">Satyajit</a></p>
	{{ .Body }}
      </section>
      
    </article>

    <div class="footer">
    <nav>
	    <li>I'm <a href="https://twitter.com/sat_ran">@sat_ran</a> on Twitter. <a href="https://twitter.com/sat_ran">Follow me</a> for more such content.</li>
      <li>You can also <a href="/feed.xml">subscribe to the RSS Feed</a></li>
      <nav>
    </div>


  </body>
</html>
